@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
}


h1{
    margin-top: 1.5em;
    font-family: 'League Spartan', sans-serif;
}

.divForm {
    border-radius: 0.3em;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1.5em;

  }

.divForm p{
    font-family: 'League Spartan', sans-serif;
    text-align: left;
}

form{
    margin-top: 1em;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.search input, select{
    width: 40%;
}

.search input[type=submit]{
    width: 6em;
    padding: 12px 20px;


}
  
input[type=submit] {
width: 100%;
background-color: #4c93af;
color: white;
padding: 14px 20px;
margin: 50px 0;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 0.7em;
}

input[type=submit]:hover {
background-color: #3f829c;
}

input:invalid:focus {
    background-image: linear-gradient(rgb(233, 207, 212), rgb(230, 215, 215));
  }



.submit, button {
    border: 0.1em solid #4c93af;
    padding: 0.2em;
    font-size:  0.8em;
    background-color: #4c93af;
    text-decoration: none;
    color: white;
}

.submit:hover, button :hover{
    font-weight: bold;
}

.todo {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;


}

.info, .foto{
    width: 100%;
}

.info{
    margin-top: 2em;
}

.foto{
    width: 60em;
    height: 16em;
}


.imagen{
    height: 100%;
    object-fit: cover;
    object-position: center center;
}



.todoInicio {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;

}
.imagenInicio{
    width: 50%;
}

.infoInicio{
    width: 50%;
    margin-bottom: 2em;


}


.boton{
    width: 10em;
    margin: 0 auto;
}

.boton form {
    margin-top: 0;

}

h3{
    font-family: 'League Spartan', sans-serif;
    color: #51575a;
}

button a{
    text-decoration: none;
    color: white;
}

button a:hover{
    font-weight: bold;
}

footer i {
    font-size: 2.5em;
    color: white;
}

footer div {
    width: 25%;
    display: inline-block;

}

.flecha {
    width: 1em;
    position: fixed;
    bottom: 2em;
    left: 2em;
}


body{
    color: rgb(32, 32, 32);
    font-size: 1.5em;
    text-align: center;
    background-color: white;

}

p, table{
    font-family: 'Work Sans', sans-serif;
    margin-top: 1em;
}
table{
    margin-bottom: 5em;
}

#titleMenu{
    width: 100%;
}

#title{
    margin: 0;
}

#menu{
    padding-top: 0;
}

#menu p{
    padding-bottom: 1em;
}



header {
    background-color: #b3a8a5c0;
    width: 100%;
    border-bottom: rgb(255, 255, 255) solid 1px;
    position: fixed;
    top: 0;
    z-index: 999999999999999999;
}

.header {
    width: 100%;
    margin: auto;
    padding: 0.5em 0.5em 0.5em 0.3em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    height: 60px;
}

header img{
    width: 8em;
}

header h1{
    color: white;
    margin-top: 2.5em;
    font-size: 1.2em;
}


section img{
    padding: 0.5em;
}

section h1{
    background-color:#a79b98 ;
}

section {
    text-align: center;
    padding: 3em 3em 2em 3em;
    
}

section i {
    font-size: 2.5em;
    color: white;
    padding: 0.5em 0 0.5em 0;
}

section i:hover{
    font-size: 3em;
    transition-property: font-size;
    transition-duration: 0.5s;
}

section div {
    width: 20%;
    display: inline-block;
    margin: 0 auto;
    background-color: #7f685a3b;

}



table{
    text-align: center;
    border: 0.1em solid white;
    border-spacing: 1em;
    margin: 0 auto;
}


#deleteID{
    display: none;
}
#readID{
    margin: 0;
}

@media screen and (max-width: 767px) {

    section{
        padding: 0;
    }

    section div{
        width: 100%;
        margin-top: 1em;
        background-color: #a79b98;

    }

    section i{
        font-size: 2em;
    }
    
    section i:hover{
        font-size: 2.5em;
    }

    footer i {
        font-size: 2.5em;
        color: white;
    }
    
    footer div {
        width: 25%;
        display: inline-block;
    
    }
    
    .flecha {
        width: 1em;
        position: fixed;
        bottom: 0.5em;
        left: 1em;
    }

}
